.storyInsta {
  display: flex;
}

.closeStoryPopUp {
  display: flex;
  font-size: 70px;
  text-align: right;
  background-color : rgb(255, 255, 255);
}

.storyContainer {
  display: flex;
  width: auto;
  height: auto;
}